.texto-termos, .lista-arquivos{
    width: 80%;
    max-width: 900px;
    margin: 48px auto 112px auto;
}

.texto-termos p{
    margin-top: 1em;
}

.texto-termos .termos{
    margin-top: 48px;
}

/* Lista de objetos mobiliario */

.mobilia{
    display: flex;
    margin-bottom: 92px;
}

.mobilia img{
    border-radius: 56px;
    background: var(--Degrad-bege, linear-gradient(136deg, rgba(255, 255, 255, 0.95) 17.49%, rgba(254, 242, 224, 0.95) 103.91%), #B76F51);
    box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.25);
    padding: 20px;
}

.mobilia h4{
    color: var(--marrom, #B76F51);
    font-size: 48px;
    font-weight: 700;
    line-height: 150%; /* 81px */
}

.mobilia div{
    margin: auto auto auto 46px;
}

.mobilia div p{
    font-size: 20px;
    line-height: 160%;
}

.mobilia div p a {
    color: var(--azul);
}
















--------------------------------

.galeria{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px;
}

.galeriaImg{
    max-width: 100%;
    border-radius: 30px;
    position: relative;
    transition: transform 250ms;
    cursor: pointer;
} 

.galeriaImg:hover{
    transform: translateY(-2px);
    box-shadow: 0px 3px 5px rgba(128, 128, 128, 0.5);
}