/* fundo titulos */
main div section h2{
    color: white;
    border-radius: 86px;
    background: linear-gradient(163deg, rgba(10, 110, 182, 0.75) 18.43%, rgba(19, 28, 59, 0.75) 111.5%), linear-gradient(135deg, rgba(249, 239, 231, 0.85) 0%, rgba(183, 111, 81, 0.85) 100%), #131C3B;
    
    display: inline-block;
    padding: 0.2em 1.5em;
    font-size: 38px;
    margin-top: 2em;
    margin-bottom: 0.5em;
}

main div section#resumo h2{
    margin-top: 1.5em;
} 

main div section h3{
    color: var(--marrom);
    text-align: left;
}

main div section h3 b{
    color: var(--azul-marinho);
    border-radius: 86px;
    background: var(--Degrad-bege, linear-gradient(136deg, rgba(255, 255, 255, 0.95) 17.49%, rgba(254, 242, 224, 0.95) 103.91%), #B76F51);
    background: white;
    display: inline-block;
    padding: 0.15em 1.25em;

    margin-top: 2em;
    margin-bottom: 0.5em;
    margin-right: 0.5em;
}

/* Galeria de Imagens */
.image-gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 0 1.5rem;
    justify-content: center;
    align-items: flex-start;
    margin: 2.5rem 0;
}

.image-gallery figure {
    margin: 0;
    text-align: center;
    flex-basis: calc(50% - 1.5rem); /* Duas colunas */
    display: flex;
    flex-direction: column;
    align-items: center; /* Centraliza a imagem se ela for mais estreita que o container */
}

.image-gallery figure img {
    max-width: 100%; /* Garante que a imagem não ultrapasse o container */
    max-height: 550px; /* Limita a altura máxima para imagens verticais */
    /* A combinação de max-width e max-height redimensiona a imagem mantendo a proporção */
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    border: 1px solid #eee;
}

/* galeria de 3 colunas */
.image-gallery.three-columns figure {
    flex-basis: calc((100% - 3rem) / 3); /* Três colunas */
}

/* Para galerias com uma única imagem centralizada */
.image-gallery.single-image figure {
    flex-basis: 100%;
    max-width: 750px;
    margin: auto;
}

figcaption {
    margin-top: 0.75rem;
    padding: 0 1rem;
    font-size: 0.9rem;
    color: #555;
    font-style: italic;

    flex-basis: 100%; /* Faz a legenda ocupar a largura total */
    text-align: center;
}

/* Frase tema na definicao de tema */
.frase-tema {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2.5rem auto;
    gap: 0 1.5rem;

    max-width: 750px;
}

.alternativas{
    display: flex;
    gap: 0 1rem;
    justify-content: center;
    align-items: center;
    margin: 2.5rem 0;

    max-width: 750px;
}

.alternativas p{
    margin-top: 0;
}


/* Responsividade */
@media screen and (max-width: 780px) {
    main div section h2{
        font-size: 34px;
    }

    main div section h3{
        margin-left: 0;
        width: 100%;
    }

    .container-projeto h2 {
        font-size: 2rem;
    }

    .container-projeto h3 {
        font-size: 1.5rem;
    }

    /* .image-gallery figure {
        flex-basis: 100%;
    } */
}
