body{
    background-color: #F9EFE7;;
}

header .logo img{
    display: block;
    margin: auto;

    transition: all 0.4s ease-out;
}

header .logo:hover img{
    filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.4));
}

.politica{
    width: 86%;
    margin: 48px auto;
    line-height: 150%;
}

.politica a{
    color: #0A6EB6;
}

.btn-play{
    display: block; 
    text-align:center; 
    margin: 48px 0;
}