body{
    background-color: #F9EFE7;;
}

header .logo img{
    transition: all 0.2s ease-out;
}

header .logo:hover img{
    filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.4));
}

.politica{
    width: 86%;
    margin: 48px auto;
    line-height: 150%;
}

.politica h2{
    font-size: 32px;
    text-align: left;
    margin-bottom: 8px;
    margin-top: 48px;
}

.politica h2 span{
    background-color: #B76F51;
    color: #F9EFE7;
}

.politica ul{
    list-style-type: disc;
    line-height: 200%;
    list-style-position: inside;
}

.politica .atualizacao{
    text-align: center;
    color: #3b3b3b;
    margin-bottom: 32px;
}

.politica p{
    margin-bottom: 6px;
}

.politica .duvidas{
    margin-top: 28px;
}

.politica a{
    color: #0A6EB6;
}

.politica .dados{
    margin: 24px 0;
}

.btn-play{
    display: block; 
    text-align:center; 
    margin: 48px 0;
}